[submodule "fa22-lab-starter"]
	path = fa22-lab-starter
	url = https://github.com/shubulan/fa22-lab-starter.git
	branch = labing/shubulan
[submodule "fa22-proj1-starter"]
	path = fa22-proj1-starter
	url = https://github.com/shubulan/fa22-proj1-starter.git
	branch = proj1/shubulan
[submodule "fa22-proj2-starter"]
	path = fa22-proj2-starter
	url = https://github.com/shubulan/fa22-proj2-starter.git
	branch = dev/shubulan
[submodule "fa22-proj3-starter"]
	path = fa22-proj3-starter
	url = git@github.com:shubulan/fa22-proj3-starter.git
	branch = dev/shubulan
[submodule "fa22-proj4-starter"]
	path = fa22-proj4-starter
	url = git@github.com:shubulan/fa22-proj4-starter.git
	branch = dev/shubulan
